header {
	background: #5CBF5F;
	padding: 20px 0;
}

.logo {
	widht: 50px;
	height: 50px;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 20px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 30px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

h2 {
	font-size: 30;
	text-decoration-color: ;
}

footer {
	text-align: center;
	font-size:  20px;
	background: url("bg.jpg");
	padding: 40px 0;
}

